[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "plugins/bootstrapify"]
	path = plugins/bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify
