<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	{% include "head.html" %}
<body>
<div class="container">
	{% include "header.html" %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			{% block content %}{% endblock %}
		</div>
	</div> {# End row #}
	<!-- <hr> -->
</div> <!-- /container -->
	{% include "footer.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block aw-bottom">
			<p>&copy; {{ AUTHOR }} 2016</p>
			<p>Powered by Pelican</p>
		</div>
	</div>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("div.collapseheader").click(function () {
		$header = $(this).children("span").first();
		$codearea = $(this).children(".input_area");
		$codearea.slideToggle(500, function () {
			$header.text(function () {
				return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
			});
		});
	});
});
</script>
{% include "analytics.html" %}
{% include "github.html" %}
</body>
</html>
