<footer class="aw-footer bg-danger">
	<div class="container"> <!-- footer -->
		<div class="row">
			<div class="col-md-11 col-md-offset-1" id="footer-wrapper">
				<div class="col-md-3">
					<div id="social-links">
						<h4>
							Contact
						</h4>
						<li><a href="mailto:{{ EMAIL_ADDRESS }}">Email</a></li>
							<li><a href="http://twitter.com/{{ TWITTER_USERNAME }}">Twitter</a></li>
							<li><a href="http://linkedin.com/in/{{ LINKEDIN_USERNAME }}">LinkedIn</a></li>
							<li><a href="http://calendly.com/{{ CALENDLY_USERNAME }}">Calendly</a></li>
					</div>
				</div>
				<div class="col-md-3">
					<div id="other-links">
						<h4>
							Links
						</h4>
						<ul>
							<li><a href="https://tinyletter.com/willwolf">Newsletter</a></li>
							<li><a href="http://willtravellife.com">Travel Blog</a></li>
							<li><a href="http://github.com/{{ GITHUB_USERNAME }}">Github</a></li>
							<li><a href="https://github.com/cavaunpeu/willwolf.io-source">Source Code</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
				  <div id="categories">
				    <h4>
				      Categories
				    </h4>
				    <ul>
				    {% for category, articles in categories %}
				      <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</li>
				    {% endfor %}
				    </ul>
				  </div>
				</div>
				<div class="col-md-3">
				  <div id="pages">
				    <h4>
				      Pages
				    </h4>
				    <ul>
				      {% if ARCHIVE_PAGE %}
				      <li><a href="{{ main_siteurl }}/{{ ARCHIVE_PAGE }}" title="{{ ARCHIVE_PAGE_LINK_TEXT }}">{{ ARCHIVE_PAGE_LINK_TEXT }}</a></li>
				      {% endif %}
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</footer>
