<footer class="aw-footer bg-danger">
	<div class="container"> <!-- footer -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1" id="footer-wrapper">
				<div id="social-links">
					<h4>
						Social:
						<a href="http://twitter.com/{{ TWITTER_USERNAME }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="http://github.com/{{ GITHUB_USERNAME }}"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a href="http://linkedin.com/in/{{ LINKEDIN_USERNAME }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
						<a href="mailto:{{ EMAIL_ADDRESS }}"><i class="fa fa-send" aria-hidden="true"></i></a>
					</h4>
				</div>
				<div id="travel-blog">
					<h4>
						Links:
						<a href="http://willtravellife.com">Travel Blog</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</footer>
