<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{{ SITESUBTITLE }}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ main_siteurl }}/theme/html5.js"></script>
		<![endif]-->

	<!-- Atom Feed -->
	{% if FEED_ATOM %}
		<link href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}

	<!-- Twitter Cards -->
  {% include "twitter_card.html" %}

	<!-- CSS -->
	<link href="{{ main_siteurl }}/theme/css/ipython.css?v={12345}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ main_siteurl }}/theme/css/local.css?v={12345}" rel="stylesheet">
	<link href="{{ main_siteurl }}/theme/css/pygments.css?v={12345}" rel="stylesheet">
	<link href="{{ main_siteurl }}/theme/css/main.css?v={12345}" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
