<div class="page-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a id="site-title" href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
          {% if SITESUBTITLE %}
          <h4 id="site-subtitle">{{ SITESUBTITLE }}</h4>
          {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if ABOUT_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ ABOUT_PAGE }}" title="{{ ABOUT_PAGE_LINK_TEXT }}"><span class="glyphicon glyphicon-user"></span> {{ ABOUT_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if CV_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ CV_PAGE }}" title="{{ CV_PAGE_LINK_TEXT }}"><span class="glyphicon glyphicon-folder-open"></span> {{ CV_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if BOOKS_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ BOOKS_PAGE }}" title="{{ BOOKS_PAGE_LINK_TEXT }}"><span class="glyphicon glyphicon-book"></span> {{ BOOKS_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if ARCHIVE_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ ARCHIVE_PAGE }}" title="{{ ARCHIVE_PAGE_LINK_TEXT }}"><span class="glyphicon glyphicon-th-list"></span> {{ ARCHIVE_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if SHOW_FEED %}
              <li><a href="{{ main_siteurl }}/{{ FEED_ALL_ATOM }}" title="willwolf.io Atom feed"><span class="icon-rss"></span> RSS</a></li>
          {% endif %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{{ SITEURL }}" title={{ DEFAULT_LANG | lookup_lang_name }} id="activeLanguage"><span class="glyphicon glyphicon-flag"></span>{{ DEFAULT_LANG.upper() }}<span class="caret"></span></a>
            {% if extra_siteurls %}
            <ul class="dropdown-menu">
              {% for lang, url in extra_siteurls.items() %}
                <li>
                  <a id="inactiveLanguage" href="{{ url }}/" title={{ lang | lookup_lang_name }}>{{ lang.upper() }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
