<div class="page-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
          {% if SITESUBTITLE %}
          <h4>{{ SITESUBTITLE }}</h4>
          {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if ABOUT_PAGE %}
              <li><a href="{{ ABOUT_PAGE }}" title="About"><span class="glyphicon glyphicon-user"></span> About</a></li>
          {% endif %}
          {% if ARCHIVES_PAGE %}
              <li><a href="{{ ARCHIVES_PAGE }}" title="Archives"><span class="glyphicon glyphicon-th-list"></span> Archive</a></li>
          {% endif %}
          {% if SHOW_FEED %}
              <li><a href="{{ FEED_ALL_ATOM }}" title="willwolf.io Atom feed"><span class="icon-rss"></span> RSS</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
