<div class="page-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a id="site-title" href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
          {% if SITESUBTITLE_WITH_LINKS %}
            <h4 id="site-subtitle-with-links">{{ SITESUBTITLE_WITH_LINKS }}</h4>
          {% else %}
            <h4 id="site-subtitle">{{ SITESUBTITLE }}</h4>
          {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if ABOUT_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ ABOUT_PAGE }}" title="{{ ABOUT_PAGE_LINK_TEXT }}">{{ ABOUT_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if RESUME_PAGE %}
              <li><a href="{{ main_siteurl }}/images/resume.pdf" title="{{ RESUME_PAGE_LINK_TEXT }}"></span> {{ RESUME_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          {% if BOOKS_PAGE %}
              <li><a href="{{ main_siteurl }}/{{ BOOKS_PAGE }}" title="{{ BOOKS_PAGE_LINK_TEXT }}">{{ BOOKS_PAGE_LINK_TEXT }}</a></li>
          {% endif %}
          <li>
            <button id="subscribeButton">
              <a href="{{ main_siteurl }}/{{ SUBSCRIBE_PAGE }}" title="Get new posts by email">{{ SUBSCRIBE_PAGE_LINK_TEXT }}</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
