{% if TWITTER_USERNAME and TWITTER_CARDS %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
  <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
  <meta name="twitter:domain" content="{{ SITEURL }}">
  {% if article %}
    <meta property="twitter:title" content="{{ article.title | striptags | e }}"/>
    <meta property="twitter:description" content="{{ article.summary | striptags | e }}"/>
    <meta property="twitter:image" content="{{ SITEURL }}/{{ article.image }}"/>
  {% elif page %}
    <meta property="twitter:title" content="{{ page.title | striptags | e }}"/>
    <meta property="twitter:description" content="{{ page.summary | striptags | e }}"/>
    <meta property="twitter:image" content="{{ SITEURL }}/{{ page.image }}"/>
  {% else %}
    <meta property="twitter:title" content="{{ SITENAME }}"/>
    <meta property="twitter:description" content="{{ SITESUBTITLE }}"/>
    <meta property="twitter:image" content="{{ SITEURL }}/{{ AVATAR }}"/>
  {% endif %}
{% endif %}
